@import "tailwindcss";
@import "@nuxt/ui";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-sans: 'Public Sans', sans-serif;
}

#okta-signin-container:not(.modal-open) {
    display: none !important;
}